[submodule "LFrame/Vendor/spdlog"]
	path = LFrame/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LFrame/Vendor/GLFW"]
	path = LFrame/Vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "LFrame/Vendor/imgui"]
	path = LFrame/Vendor/imgui
	url = https://github.com/LuckyGhostStudio/imgui
